.mainHeader {
    color: rgb(245, 224, 188); 
    text-align: center;
    font-size: 35px;
}

body {
    background-color:rgb(102, 51, 51);
 }

.projList {
    list-style-type: none;

}

.images {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow-x: scroll;
    overflow: scroll;
    overflow-y: hidden;


}

.images > *:nth-child(1) {
    margin-left: 41%;
}

.images > *:nth-last-child(1) {
    margin-right: 41%;
}

