 h1 {
    color: rgb(245, 224, 188);
   
 }

 body {
    background-color:rgb(102, 51, 51);
 }

 .name{
    font-size: 1em;
 }

 .uni{

    display: inline-block;
    font-size: 3em;
   
 }

 .names{
    
    display: flex;
    flex-direction: column;

 }

 .title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .course {
   font-size: large;
   color: white;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 100;
 }

 .picture {
   display:block;
   margin-left: auto;
   margin-right: auto;
   padding-top: 20;
   height: 100px;
   width:100px;
   
 }
 